<div id="<%= dom_id seance %>">
  <p>
    <strong>Start time:</strong>
    <%= seance.start_time.strftime('%d.%m %I:%M %p') %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= seance.price %>
  </p>

</div>
