<div id="<%= dom_id movie %>">
  <div>
    <div class="container-fluid" style="padding-top:1%;">
      <p>
        <strong>Name:</strong>
        <%= movie.name %>
      </p>

      <p>
        <strong>Duration:</strong>
        <%= movie.duration %>
      </p>
    </div>
  </div>
</div>
