<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <div class="border border-dark" style="float:left; margin-right: 2%; margin-bottom:2%; width: 31%;">
      <%= render movie %>
      <div style="margin-left: 2%;">
      <%= link_to "Check seances", movie %>
      </div>
    </div>
  <% end %>
</div>
