<p style="color: green"><%= notice %></p>
  <div style="margin-left:40%;"> 
    <%= render @movie %>
  </div>

  <div> 
    <% @seances.each do |seance| %>
    <div class="border border-dark" style="float:left; margin-right: 2%; margin-bottom:2%; width: 15%;">
        <%= render seance %>
    </div>
  <% end %>
  </div>
