<div style="text-align: center;" class="border border-dark" >
  <%= render @reservation %>

  <div>
    <% if policy(@reservation).destroy? %>
      <%= button_to "Destroy", @reservation, method: :delete,
        form_class: "myButtonForm", class: "btn btn-outline-danger"  %>
    <% end %>
    <%= link_to "Back to reservations", reservations_path, class: "btn btn-outline-secondary" %>
  </div>
</div>