<h1> MonteCinema! </h1>

<h2> Your reservation have been canceled. </h2>

<h4> Movie: <%= @reservation.seance.movie.name %> </h4>
<h4> Starts at: <%= format_date(@reservation.seance.start_time) %> </h4>
